@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --orange:#ffa500;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}

*::selection{
  background:var(--orange);
  color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
    background: white;
  }
  
  section{
    padding:2rem 9%;
  }
  
  .heading{
    text-align: center;
    padding:2.5rem 0
  }
  
  .heading span{
    font-size: 3.5rem;
    background:#666;
    color:aqua;
    border-radius: .5rem;
    padding:.2rem 1rem;
  }
  
  .heading span.space{
    background:none;
  }
  
  .btn{
    display: inline-block;
    margin-top: 1rem;
    background:var(--orange);
    color:#fff;
    padding:.8rem 3rem;
    border:.2rem solid var(--orange);
    cursor: pointer;
    font-size: 1.7rem;

  }
  
  .btn:hover{
    background:rgba(255, 165, 0,.2);
    color:var(--orange);
  }
  
  header{
    position:sticky; 
    top:0; left: 0; right:0;
    background:#333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    animation: nav 4s;
  }
  @keyframes nav{
    from{ trasform: traslade3d(0,-100%,0);
          opacity:0;}

    to{trasform: traslade3d(0,0,0);
        opacity:1;} }  
  
  header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:#fff;
    text-transform: uppercase;
  }
  
  header .logo span{
    color:var(--orange);
  }
  
  header .navbar a{
    color:#fff;
    font-size: 2rem;
    margin:0 .8rem;
  }
  
  header .navbar a:hover{
    color:var(--orange);
  }
  
  header .icons i{
    font-size: 2.5rem;
    color:#fff;
    cursor: pointer;
    margin-right: 2rem;
  }
  
  header .icons i:hover{
    color:var(--orange);
  }

  header .search-bar-container{
    position: absolute;
    top:100%; left: 0; right:0;
    padding:1.5rem 2rem;
    background:#333;
    border-top: .1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  
  header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  
  header .search-bar-container #search-bar{
    width:100%;
    padding:1rem;
    text-transform: none;
    color:#333;
    font-size: 1.7rem;
    border-radius: .5rem;
  }
  
  header .search-bar-container label{
    color:#fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
  }
  
  header .search-bar-container label:hover{
    color:var(--orange);
  }
  
  .login-form-container{
    position: fixed;
    top:-120%; left: 0;
    z-index: 10000;
    min-height: 100vh;
    width:100%;
    background:rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-form-container.active{
    top:0;
  }
  
  .login-form-container form{
    margin:2rem;
    padding:1.5rem 2rem;
    border-radius: .5rem;
    background:#fff;
    width:50rem;
  }
  
  .login-form-container form h3{
    font-size: 3rem;
    color:#444;
    text-transform: uppercase;
    text-align: center;
    padding:1rem 0;
  }
  
  .login-form-container form .box{
    width:100%;
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    margin:.6rem 0;
    border:.1rem solid rgba(0,0,0,.3);
    text-transform: none;
  }
  
  .login-form-container form .box:focus{
    border-color: var(--orange);;
  }
  
  .login-form-container form #remember{
    margin:2rem 0;
  }
  
  .login-form-container form label{
    font-size: 1.5rem;
  }
  
  .login-form-container form .btn{
    display: block;
    width:100%;
  }
  
  .login-form-container form p{
    padding:.5rem 0;
    font-size: 1.5rem;
    color:#666;
  }
  
  .login-form-container form p a{
    color:var(--orange);
  }
  
  .login-form-container form p a:hover{
    color:#333;
    text-decoration: underline;
  }
  
  .login-form-container #form-close{
    position: absolute;
    top:2rem; right:3rem;
    font-size: 5rem;
    color:#fff;
    cursor: pointer;
  }
  
  #menu-bar{
    color:#fff;
    border:.1rem solid #fff;
    border-radius: .5rem;
    font-size: 3rem;
    padding:.5rem 1.2rem;
    cursor: pointer;
    display: none;
  } 


  .conteiner-welcome {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 400px;
   color:black;
   background: rgba(128, 125, 125, 0.4);}

.conteiner-welcome .contenedor-img {
    max-width: 70%;
    margin-right: 40px;
}
.conteiner-welcome .contenedor-img img{
 width: 100%;
 height:400px;
}  

.contenedor-texto .titulo {
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 40px;
}

.contenedor-texto .mascota {
    font-weight: bold;
    color:aqua;
    font-style: normal;
}

.contenedor-texto p {
    margin-bottom: 40px;
    line-height: 36px;
}
.contenedor-texto .parrafo{
    font-size:18px;
    font-weight: bold;
    text-align: justify;
}

.btn-link {
    display: inline-block;
    padding: 10px 10px;
   border-radius: 100px;
    margin-right: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 1.9rem;
}

.btn-link:hover,
.btn-link.activo {
   color: #fff;
   background: #5b4a9a;
}

.informacion article h2{
    font-size:35px;
    text-align: center; 
}

.informacion article p{
    font-size:18px;
    text-align: justify;
}

.contenedor_mapa{
    height:800px; 
    display:grid;
    grid-template-columns: repeat(12, 1fr);
}
.contenedor_mapa .contenedor-data{ 
  grid-column: 2/5;
  border:1px black solid;
  background: rgba(0,0,0,0.4);
  padding: 10px 5px;
  text-align: center;
}
.contenedor_mapa .contenedor-data h2{
  font-size: 20px;
  color:white;
  text-shadow:  0px 0px 6px yellow;
  text-align: center;
}

.contenedor_mapa .contenedor-data ul li{
  list-style: none;
  color: white;
  font-size: 18px;
  margin: auto}

.contenedor_mapa .contenedor-data img{
  margin: auto 10px;
  width:300px;
  height:250px;  
}

.contenedor_mapa .contenedor-data p{
  color: white;
  font-size: 18px;
  text-align: center;
}


.contenedor_mapa .map{
   grid-column: 5/12;}

.Turismo-Talanga article h2{
  font-size:35px;
  text-align: center; 
}

.Turismo-Talanga article p{
  font-size:18px;
  text-align: justify;
} 

.legend { 
  line-height: 18px; 
  border:1px solid black;
  background:rgba(0,0,0,0.4);
  color:white;
  }  
.legend I { 
  width: 18px;
  height: 18px; 
  float: left; 
  margin-right: 8px; 
  opacity: 0.7; 
  } 

.home{
  background-color: #333; 
  padding:0;
  position:relative;
}

.home .slide-container .slide{
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:1.5rem;
  padding:0 9%;
  padding-top: 9rem;
}

.home .slide-container .slide .content{
  flex:1 1 40rem;
  animation: slideContent .5s linear 1s backwards;
}

@keyframes slideContent{
  0%{
    opacity: 0;
    transform: translateX(-10rem);
  }
} 

.home .slide-container .slide .images{
  flex:1 1 50rem;
  padding-bottom: 15rem;
  position: relative;
  z-index: 0;
}


.home .slide-container .slide .images .text{
  width: 650px;
  height: 500px;
  animation:shoeText .5s linear .5s backwards;
}

@keyframes shoeText{
  0%{
    opacity: 0;
    top:-10rem;
  }
}

.home .slide-container .slide .content span{
  font-size: 2rem;
  color:var(--orange);
}

.home .slide-container .slide .content h3{
  font-size: 5rem;
  color:white;
}

.home .slide-container .slide .content p{
  font-size: 1.7rem;
  color:white;
  padding:.5rem 0;
}

.home .slide-container:nth-child(1) .slide{
  background:url(../images/home-bg-1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .slide-container:nth-child(2) .slide{
  background:url(../images/home-bg-2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .slide-container:nth-child(3) .slide{
  background:url(../images/home-bg-3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .slide-container{
  display: none;
}

.home .slide-container.active{
  display: block;
}

.home #prev,
.home #next{
  position: absolute;
  top:50%; 
  transform:translateY(-50%);
  border-radius: 50%;
  z-index: 100;
  height:5rem;
  width:5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color:yellow;
  border:.2rem solid var(--black);
  cursor: pointer;
  text-align: center;
}

.home #prev:hover,
.home #next:hover{
  color:#fff;
  background:var(--orange);
}

.home #prev{
  left:3rem;
}

.home #next{
  right:3rem;
}

.mapas-fisicos .mapa-fisico{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.packages .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  background: rgba(0,0,0,.5);
  color:black;
}

.packages .box-container .box{
  flex:1 1 30rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.packages .box-container .box img{
  height: 25rem;
  width:100%;
  object-fit: cover;
}

.packages .box-container .box img:hover{
transform: scale(1.05);
}


.packages .box-container .box .content{
  padding:2rem;
}

.packages .box-container .box .content h3{
  font-size:2rem;
  color:black;
}

.packages .box-container .box .content h3 i{
  color:var(--orange);
}

.packages .box-container .box .content p{
  font-size:1.7rem;
  color:white;
  padding:1rem 0;
}

.packages .box-container .box .content .stars i{
  font-size:1.7rem;
  color:var(--orange);
}

.packages .box-container .box .content .price{
  font-size: 2rem;
  color:white;
  padding-top: 1rem;
}

.packages .box-container .box .content .price span{
  color:white;
  font-size: 1.5rem;
  text-decoration: line-through;
}

.Turismo-Talanga2 article p{
  font-size:18px;
  text-align: justify;
}

.review .review-slider{
  padding-bottom: 2rem;
}

.review .box{
  padding:2rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.review .box img{
  height:13rem;
  width:13rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.review .box h3{
  color:#333;
  font-size: 2.5rem;
}

.review .box p{
  color:#666;
  font-size: 1.5rem;
  padding:1rem 0;
}

.review .box .stars i{
  color:var(--orange);
  font-size: 1.7rem;
} 

.Mapafinal{
  display: grid;
  grid-template-columns: repeat(12,1fr);
}
.Mapafinal .Mapafinaldata{
  grid-column: 1/4 ;
  height: 800px;
  background: rgba(128, 125, 125, 0.4);
  overflow: scroll;
  border: solid black 2px;
}

.Mapafinal .Mapafinaldata{
  display: flex;
  flex-direction: column;
  margin:0;
}

.Mapafinal .Mapafinaldata .contenido{
  display: flex;
  width: 100%;
  height: 300px;
  border: 2px solid black;
}

.Mapafinal .Mapafinaldata .contenido-informacion{
  width: 60%;
}
.Mapafinal .Mapafinaldata .contenido-informacion h3{
  font-size:18px;
  color:white;
  text-shadow:  0px 0px 6px yellow;
  text-align: center;
}

.Mapafinal .Mapafinaldata .contenido-informacion form .input{
  padding: 5px 0;
  border: 1px solid black;
  margin: auto;
  width: 100%;}

.Mapafinal .Mapafinaldata .contenido-informacion form button{
  margin-top: 15px ;
  padding: 5px 0;
  margin-left: 30%;
}

.Mapafinal .Mapafinaldata .contenido-imagen{
  width:40%;
}

.Mapafinal .Mapafinaldata .contenido-imagen img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  border: 2px solid white;
  margin-left:15px;
}


.Mapafinal .Mapafinaldata .resumen h2{
  font-size:22px;
  color:white;
  text-shadow:  0px 0px 6px yellow;
  text-align: center;} 

  .Mapafinal .Mapafinaldata .resumen p{
    font-size:16px;
    text-align: justify;} 

  

.Mapafinal .map2{
  grid-column: 4/13;
  height:800px;
  border:1px solid black;} 

  .footer{
    background:#333;
  }
  
  .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .footer .box-container .box{
    padding:1rem 0;
    flex:1 1 25rem;
  }
  
  .footer .box-container .box h3{
    font-size: 2.5rem;
    padding:.7rem 0;
    color:#fff;
  }
  
  .footer .box-container .box p{
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#eee;
  }
  
  .footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#eee;
  }
  
  .footer .box-container .box a:hover{
    color:var(--orange);
    text-decoration: underline;
  }
  
  .footer .credit{
    text-align: center;
    padding:2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color:#fff;
    border-top: .1rem solid rgba(255,255,255,.2);
  }
  
  .footer .credit span{
    color:var(--orange);
  }
  
  

    /* media queries  */

@media (max-width:1200px){

    html{
      font-size: 55%;
    }
  
  }
  
  @media (max-width:971px){
  
    header{
      padding:2rem;
    }
  
    section{
      padding:2rem;
    }

   .conteiner-welcome {
        flex-direction: column;
        text-align: center;
     }
     
    .conteiner-welcome .contenedor-img {
        margin-bottom: 40px;
     }
   
     .conteiner-welcome .contenedor-img{
         display: none;
     }
  }
  
  @media (max-width:768px){
  
    #menu-bar{
      display: initial;
    }
    .btn{
      display: none;
    }

     
  .heading span{
    font-size: 1.6rem;
    background:#666;
    color:aqua;
    border-radius: .3rem;
    padding:.1rem 1rem;
  }
    header .navbar{
      position: absolute;
      top:100%; right:0; left: 0;
      background: #333;
      border-top: .1rem solid rgba(255,255,255,.2);
      padding:1rem 2rem;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
    header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  
    header .navbar a{
      display: block;
      border-radius: .5rem;
      padding:1.5rem;
      margin:1.5rem 0;    
      background:#222;
    }

    .contenedor_mapa{
      height:800px; 
      display:grid;
      grid-template-columns: repeat(12, 1fr);
      margin-bottom: 400px;
  }
  .contenedor_mapa .contenedor-data{ 
    grid-column: 1/-1;
    border:1px black solid;
    background: rgba(0,0,0,0.4);
    padding: 10px 5px;
    text-align: center;
  } 
  .contenedor_mapa .map{
     grid-column: 1/-1;
     height: 400px;}

    .mapas-fisicos .mapa-fisico iframe{
      width:100%;
      height:300px;
    }
    
    .review{
      display:none;}

    .Mapafinal .Mapafinaldata{
      display: none;
    }

    .Mapafinal .map2{
      grid-column: 1/-1;
      height:450px;
      border:1px solid black;}  
  }
 
@media (max-width:450px){
  
    html{
      font-size: 50%;
    }
  
    .heading span{
      font-size: 1.8rem;
    }
  
    .contact .row form .inputBox input{
      width:100%;
    }

    .home{
      background-color: #333; 
      padding:0;
      position:relative;
      height: 650px;
    }

    .home .slide-container .slide .content span{
      font-size: 2rem;
      color:var(--orange);
     display:none;
    }
    
    .home .slide-container .slide .content h3{
      font-size: 3.3rem;
      color:white;
      text-align: center;
    }
    
    .home .slide-container .slide .content p{
      font-size: 1.2rem;
      color:white;
      padding:.5rem 0;
      text-align: center;
    } 

    .home .slide-container .slide .images .text{
      width: 100%;
      height: 300px;
      animation:shoeText .5s linear .5s backwards;
      margin-bottom: 290px;
    }

    .home #prev,
  .home #next{
    position: absolute;
    top:23%; 
    transform:translateY(-50%);
    border-radius: 50%;
    z-index: 100;
    height:5rem;
    width:5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color:white;
    border:.2rem solid var(--black);
    cursor: pointer;
    text-align: center;
  }
   
  .mapas-fisicos .mapa-fisico iframe{
    width:100%;
    height:300px;
  }
   
  
  }
  

  
  
